# Archivos de configuración con información sensible
config.py
.env

# Archivos de Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.py[cod]
*$py.class
*.log

# Entornos virtuales
venv/
env/
ENV/
.env
.venv
env.bak/
venv.bak/

# IDEs y editores
.idea/
.vscode/
*.swp
*.swo
.DS_Store