# Archivos de configuración con información sensible
config.py
.env

# Archivos de Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.py[cod]
*$py.class
*.log
logs/*
data/*
results/*
!logs/.gitkeep
!data/.gitkeep
!results/.gitkeep

# Entornos virtuales
venv/
env/
ENV/
.env
.venv
env.bak/
venv.bak/

# IDEs y editores
.idea/
.vscode/
*.swp
*.swo
.DS_Store